@import 'layout';
@import 'mixin';

.ah-headline {
	font-size: 3rem;
	line-height: 1.2;

	@include MQ(M) {
		font-size: 4.4rem;
		font-weight: 300;
	}

	@include MQ(L) {
		font-size: 6rem;
	}
}

.ah-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;

	b {
		display: inline-block;
		position: absolute;
		white-space: nowrap;
		left: 0;
		top: 0;

		&.ah-visible {
			position: relative;
		}
	}
}

/** rotate-1 */

.ah-headline.rotate-1 {
	.ah-words-wrapper {
		perspective: 300px;
	}

	b {
		opacity: 0;
		@include transform-origin(50% 100%);
		transform: rotateX(180deg);

		&.ah-visible {
			opacity: 1;
			transform: rotateX(0deg);
			@include animation(ah-rotate-1-in 1.2s);
		}

		&.ah-hidden {
			transform: rotateX(180deg);
			@include animation(ah-rotate-1-out 1.2s);
		}
	}
}

@include keyframes(ah-rotate-1-in) {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}

	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@include keyframes(ah-rotate-1-out) {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}

	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}

/** type */

.ah-headline.type {
	.ah-words-wrapper {
		vertical-align: top;
		overflow: hidden;

		&::after {
			/* vertical bar */
			content: '';
			position: absolute;
			right: 0;
			@include center(y);
			height: 90%;
			width: 1px;
			background-color: $color-1;
		}

		&.waiting::after {
			@include animation(ah-pulse 1s infinite);
		}

		&.selected {
			background-color: $color-1;

			&::after {
				visibility: hidden;
			}

			b {
				color: $color-3;
			}
		}
	}

	b {
		visibility: hidden;

		&.ah-visible {
			visibility: visible;
		}
	}

	i {
		position: absolute;
		visibility: hidden;

		&.in {
			position: relative;
			visibility: visible;
		}
	}
}

@include keyframes(ah-pulse) {
	0% {
		transform: translateY(-50%) scale(1);
		opacity: 1;
	}

	40% {
		transform: translateY(-50%) scale(0.9);
		opacity: 0;
	}

	100% {
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}
}

/** rotate-2 */

.ah-headline.rotate-2 {
	.ah-words-wrapper {
		perspective: 300px;
	}

	i, em {
		display: inline-block;
		@include backface-visibility(hidden);
	}

	b {
		opacity: 0;
	}

	i {
		@include transform-style(preserve-3d);
		transform: translateZ(-20px) rotateX(90deg);
		opacity: 0;

		.ah-visible & {
			opacity: 1;
		}

		&.in {
			@include animation(ah-rotate-2-in .4s forwards);
		}

		&.out {
			@include animation(ah-rotate-2-out .4s forwards);
		}
	}

	em {
		transform: translateZ(20px);
	}
}

.no-csstransitions .ah-headline.rotate-2 i {
	transform: rotateX(0deg);
	opacity: 0;

	em {
		transform: scale(1);
	}
}

.no-csstransitions .ah-headline.rotate-2 .ah-visible i {
	opacity: 1;
}

@include keyframes(ah-rotate-2-in) {
	0% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(90deg);
	}

	60% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(-10deg);
	}

	100% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0deg));
	}
}

@include keyframes(ah-rotate-2-out) {
	0% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0);
	}

	60% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-100deg);
	}

	100% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-90deg);
	}
}

/** loading-bar */

.ah-headline.loading-bar {

	span {
		display: inline-block;
		padding: .2em 0;
	}

	.ah-words-wrapper {
		overflow: hidden;
		vertical-align: top;

		&::after {
			/* loading bar */
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 0;
			background: $color-2;
			z-index: 2;
			@include transition(width .3s -0.1s);
		}

		&.is-loading::after {
			width: 100%;
			@include transition(width 3s);
		}
	}

	b {
		top: .2em;
		opacity: 0;
		@include transition(opacity .3s);

		&.ah-visible {
			opacity: 1;
			top: 0;
		}
	}
}

/** slide */

.ah-headline.slide {
	span {
		display: inline-block;
		padding: .2em 0;
	}

	.ah-words-wrapper {
		overflow: hidden;
		vertical-align: top;
	}

	b {
		opacity: 0;
		top: .2em;

		&.ah-visible {
			top: 0;
			opacity: 1;
			@include animation(slide-in .6s);
		}

		&.ah-hidden {
			@include animation(slide-out .6s);
		}
	}
}

@include keyframes(slide-in) {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	60% {
		opacity: 1;
		transform: translateY(20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@include keyframes(slide-out) {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	60% {
		opacity: 0;
		transform: translateY(120%);
	}

	100% {
		opacity: 0;
		transform: translateY(100%);
	}
}

/** clip */

.ah-headline.clip {
	span {
		display: inline-block;
		padding: .2em 0;
	}

	.ah-words-wrapper {
		overflow: hidden;
		vertical-align: top;

		&::after {
			/* line */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 2px;
			height: 100%;
			background-color: $color-1;
		}
	}

	b {
		opacity: 0;

		&.ah-visible {
			opacity: 1;
		}
	}
}

/** zoom */

.ah-headline.zoom {
	.ah-words-wrapper {
		@include perspective(300px);
	}

	b {
		opacity: 0;

		&.ah-visible {
			opacity: 1;
			@include animation(zoom-in .8s);
		}

		&.ah-hidden {
			@include animation(zoom-out .8s);
		}
	}
}

@include keyframes(zoom-in) {
	0% {
		opacity: 0;
		transform: translateZ(100px);
	}

	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}

@include keyframes(zoom-out) {
	0% {
		opacity: 1;
		transform: translateZ(0);
	}

	100% {
		opacity: 0;
		transform: translateZ(-100px);
	}
}

/** rotate-3 */

.ah-headline.rotate-3 {

	.ah-words-wrapper {
		@include perspective(300px);
	}

	b {
		opacity: 0;
	}

	i {
		display: inline-block;
		transform: rotateY(180deg);
		@include backface-visibility(hidden);

		.ah-visible & {
			transform: rotateY(0deg);
		}

		&.in {
			@include animation(ah-rotate-3-in .6s forwards);
		}

		&.out {
			@include animation(ah-rotate-3-out .6s forwards);
		}
	}
}

.no-csstransitions .ah-headline.rotate-3 i {
	transform: rotateY(0deg);
	opacity: 0;
}

.no-csstransitions .ah-headline.rotate-3 .ah-visible i {
	opacity: 1;
}

@include keyframes(ah-rotate-3-in) {
	0% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

@include keyframes(ah-rotate-3-out) {
	0% {
		transform: rotateY(0);
	}

	100% {
		transform: rotateY(-180deg);
	}
}

/** scale */

.ah-headline.scale {

	b {
		opacity: 0;
	}

	i {
		display: inline-block;
		opacity: 0;
		transform: scale(0);

		.ah-visible & {
			opacity: 1;
		}

		&.in {
			@include animation(scale-up .6s forwards);
		}

		&.out {
			@include animation(scale-down .6s forwards);
		}
	}
}

.no-csstransitions .ah-headline.scale i {
	transform: scale(1);
	opacity: 0;
}

.no-csstransitions .ah-headline.scale .ah-visible i {
	opacity: 1;
}

@include keyframes(scale-up) {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	60% {
		transform: scale(1.2);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@include keyframes(scale-down) {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	60% {
		transform: scale(0));
		opacity: 0;
	}
}

/** push */

.ah-headline.push {
	b {
		opacity: 0;

		&.ah-visible {
			opacity: 1;
			@include animation(push-in .6s);
		}

		&.ah-hidden {
			@include animation(push-out .6s);
		}
	}
}

@include keyframes(push-in) {
	0% {
		opacity: 0;
		transform: translateX(-100%));
	}

	60% {
		opacity: 1;
		transform: translateX(10%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@include keyframes(push-out) {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	60% {
		opacity: 0;
		transform: translateX(110%));
	}

	100% {
		opacity: 0;
		transform: translateX(100%));
	}
}
